In [1]:
import numpy as np
import pandas as pd

In [4]:
mouse = 'ERAB23_1b'
file = f'/camp/lab/rancze/working/tranvaa/brainsaw/classification/{mouse}/channel_1_inputs_v5_thr8/analysis/all_points.csv'
df = pd.read_csv(file)

In [5]:
df.head()

,coordinate_raw_axis_0,coordinate_raw_axis_1,coordinate_raw_axis_2,coordinate_atlas_axis_0,coordinate_atlas_axis_1,coordinate_atlas_axis_2,structure_name,hemisphere
0,11,3566,4310,1069,422,667,Parabrachial nucleus,left
1,10,3707,4081,1071,437,694,Parabrachial nucleus,left
2,13,3566,4332,1069,422,666,Midbrain trigeminal nucleus,left
3,16,3677,4224,1066,434,678,Parabrachial nucleus,left
4,17,3461,4370,1067,409,660,Parabrachial nucleus,left

In [25]:
 df[(df.iloc[:,0:5] < 0).all(1)]

Empty DataFrame
Columns: [coordinate_raw_axis_0, coordinate_raw_axis_1, coordinate_raw_axis_2, coordinate_atlas_axis_0, coordinate_atlas_axis_1, coordinate_atlas_axis_2, structure_name, hemisphere]
Index: []

In [16]:
df[df['hemisphere'] == 'right'].max()

coordinate_raw_axis_0                 1978
coordinate_raw_axis_1                 5696
coordinate_raw_axis_2                 9842
coordinate_atlas_axis_0               1069
coordinate_atlas_axis_1                684
coordinate_atlas_axis_2                570
structure_name             third ventricle
hemisphere                           right
dtype: object

In [17]:
df[df['hemisphere'] == 'left'].max()

coordinate_raw_axis_0                                      1891
coordinate_raw_axis_1                                      6100
coordinate_raw_axis_2                                      5274
coordinate_atlas_axis_0                                    1077
coordinate_atlas_axis_1                                     730
coordinate_atlas_axis_2                                    1079
structure_name             sensory root of the trigeminal nerve
hemisphere                                                 left
dtype: object

In [3]:
fp = f'/camp/lab/rancze/working/tranvaa/brainsaw/classification/{mouse}/channel_1_inputs_v5_thr8/points/points.npy'

In [6]:
pts = np.load(fp)

In [8]:
pts.min()

-310.0

In [12]:
pts.max(axis= 0)

array([10820.,  7670., 10790.])

In [18]:
pts.min(axis= 0)

array([1170., -310.,  400.])